let talkingBundleList = [];
        let cnt = 0;

        function insertTalkingBundleToList() {

            let talkingBundle = `<div class="left" onclick="showNextTalk()">
                                    <br><br><br>
                                    <img class = "profileImage" src="../../static/3.png" >
                                    <span class ="name">
                                        신승훈
                                    </span>
                                    <br>
                                    <span class="leftSpan">
                                        안녕하세요!
                                    </span>
                                    <span class = "currentTime">
                                        09:08
                                    </span>
                                </div>`.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `        <div class="right" onclick="showNextTalk()">
                                        <span class = "currentTime">
                                            09:08
                                        </span>
                                        <span class="rightSpan">
                                            누구세요?
                                        </span>

                                    </div>`.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
                                <img class = "profileImage" src="../../static/3.png" >
                                <span class ="name">
                                    신승훈
                                </span>
                                <br>

                                <span class="leftSpan">
                                    <img class = "uploadImage" src = "../../static/pic0.jpg">
                                </span>
                                <br><!spl>

                                <span class="leftSpan">
                                    저는 승훈인데요!
                                </span>
                                <span class = "currentTime">
                                    09:09
                                </span>
                                <br>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="right" onclick="showNextTalk()">
                                <span class = "currentTime">
                                    09:09
                                </span>
                                    <span class="rightSpan">
                                        어떤분이신가요?
                                    </span>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
            <img class = "profileImage" src="../../static/3.png" >
            <span class ="name">
                신승훈
            </span>
            <br>



            <span class="leftSpan">
                저는 관종이었어요
            </span>
            <br><!spl>


            <span class="leftSpan">
                <img class = "uploadImage" src = "../../static/pic1.jpg">
            </span>
            <br><!spl>


            <span class="leftSpan">
                4~5년 전 인스타에 ootd를 올리며
            </span>
            <br><!spl>

            <span class="leftSpan">
                 좋아요에 환장하던 청년은
            </span>
            <br><!spl>


            <span class="leftSpan">
                <img class="uploadImage" src="../../static/pic2.jpg">
            </span>
            <br><!spl>

            <span class="leftSpan">
                시간이 흘러
            </span>
            <br><!spl>

            <span class="leftSpan">
                 힙한옷보단 양복이 잘어울리는 아재가 되었습니다....
            </span>
            <span class = "currentTime">
                09:10
            </span>
            <br>

        </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="right" onclick="showNextTalk()">
                                <span class = "currentTime">
                                    09:13
                                </span>
                                    <span class="rightSpan">
                                        MBTI는요?
                                    </span>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
            <img class="profileImage" src="../../static/3.png">
            <span class="name">
                신승훈
            </span>
            <br>


            <span class="leftSpan">
                <img class="uploadImage" src="../../static/pic3.png">
            </span>
            <br><!spl>


            <span class="leftSpan">
                INTP 입니다!
            </span>
            <br><!spl>

            <span class="leftSpan">
                 예전엔 ENTP였는데 어느새 INTP가 되었네요
            </span>
            <br><!spl>


            <span class="leftSpan">
                나름 사회화된 INTP라
            </span>
            <br><!spl>

            <span class="leftSpan">
                 논리적으로 물어뜯지 않으니 피하지 않으셔도 됩니다

            </span>
            <span class = "currentTime">
                09:17
            </span>
            <br>

        </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="right" onclick="showNextTalk()">
                                <span class = "currentTime">
                                    09:17
                                </span>
                                    <span class="rightSpan">
                                        승훈님의 장점은?!
                                    </span>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
            <img class="profileImage" src="../../static/3.png">
            <span class="name">
                신승훈
            </span>
            <br>

            <span class="leftSpan">
                긍정적인 성격이 장점입니다!
            </span>
            <br><!spl>


            <span class="leftSpan">
                <img class="uploadImage" src="../../static/pic4.jpg">
            </span>
            <br><!spl>




            <span class="leftSpan">
                 진짜 객관적으로 긍정적입니다!!!!!
            </span>
            <br><!spl>


            <span class="leftSpan">
                믿으세요!
            </span>
            <span class = "currentTime">
                09:18
            </span>
            <br>


        </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="right" onclick="showNextTalk()">
                                <span class = "currentTime">
                                    09:18
                                </span>
                                    <span class="rightSpan">
                                        협업할 때는 어떤 스타일이신가요?
                                    </span>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
            <img class="profileImage" src="../../static/3.png">
            <span class="name">
                신승훈
            </span>
            <br>

            <span class="leftSpan">
                저는 협업할 때 좋은 의견에 맞추어 따르는 스타일입니다!
            </span>
            <br><!spl>


            <span class="leftSpan">
                 그리고 저는 팀 내에서 최소한
            </span>
            <br><!spl>


            <span class="leftSpan">
                1인분은 하지않으면
            </span>
            <br><!spl>


            <span class="leftSpan">
                 마음이 불편해지기 때문에 제 역할은 다 하는 성격입니다
            </span>
            <span class = "currentTime">
                09:18
            </span>
            <br>


        </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="right" onclick="showNextTalk()">
                                <span class = "currentTime">
                                    09:19
                                </span>
                                    <span class="rightSpan">
                                        그렇군요!!
                                    </span>
                            </div> `.split('<!spl>');

            talkingBundleList.push(talkingBundle);

            talkingBundle = `<div class="left" onclick="showNextTalk()">
                                <img class="profileImage" src="../../static/3.png">
                                <span class="name">
                                    신승훈
                                </span>
                                <br>

                                <span class="leftSpan">
                                    네!!!!
                                </span>
                                <br><!spl>


                                <span class="leftSpan">
                                     수료하는 그날까지
                                </span>
                                <br><!spl>


                                <span class="leftSpan">
                                    열심히 달려보겠습니다!
                                </span>
                                <span class = "currentTime">
                                    09:19
                                </span>
                                <br>







                            </div>`.split('<!spl>');

            talkingBundleList.push(talkingBundle);


            // talkingBundle = ` `.split('<!spl>');

        }

        insertTalkingBundleToList();

        function showNextTalk() {

            let tempHtml = ``;

            for (let i = 0; i < talkingBundleList[cnt].length; i++) {

                tempHtml = talkingBundleList[cnt][i];
                $('#testd').append(tempHtml);

                // setTimeout(,500);

            }

            cnt++;
        }

        console.log(talkingBundleList.length)