<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function hey(){
            $.ajax({
                type: "GET",
                url: "/test?title_give=봄날은간다",
                data: {},
                success: function (response) {
                    console.log(response)
                }
            })
        }

        function hey2(){
            $.ajax({
                type: "POST",
                url: "/test",
                data: {title_give: '봄날은간다'},
                success: function (response) {
                    console.log(response['msg']);
                }
            })
        }
    </script>


    <style>
        span {}

        div {background : pink}

        .listDiv{
            padding : 10px
        }

        .profileImage{


            border-radius: 40%;
            overflow: hidden;

            width : 55px;
            height : 55px;
        }

        .test{
            display : inline-block;
            transform : translate(0, 30%);

        }

        .name{
            font-weight: bold;
        }

        .msg{

        }

    </style>
</head>
<body>

    <span id = "list">
        <div class = "listDiv" style=" cursor: pointer;" onclick="location.href='individual/p0.html';">
            <img class = "profileImage" src="../static/0.png" >

            <span class = "test">
                <div class = "name">
                    이름
                </div>
                <div class = "msg">
                    안녕하세요
                </div>
            </span>
        </div>
        <div class = "listDiv" style=" cursor: pointer;" onclick="location.href='individual/p1.html';">
            <img class = "profileImage" src="../static/1.png" >

            <span class = "test">
                <div class = "name">
                    이름
                </div>
                <div class = "msg">
                    안녕하세요
                </div>
            </span>
        </div>

    </span>




    <h1>나의 첫 웹페이지</h1>
    <button onclick ='hey()'>버튼을 만들자</button>
    <button onclick ='hey2()'>post 버튼</button>

    <button type="button" class="btn btn-primary">Primary</button>

</body>
</html>


